.container {
    max-width: 1140px;
 margin: 0 auto;
 display: flex;
justify-content: space-between;
}

.left {
}
.linkedtech {
}
.lupa {
}
.man {
}
.nav__link {
    display: block;
    text-decoration: none;
    
}
.right {
    display: flex;
    gap: 20px
}
.teleg {
}
.center {
    display: flex;
    gap: 30px;
}